@font-face {
    font-family: 'f1';
    src: url('./font/4UaOrEtFpBISc36j.woff2') format('woff2');
  }

  @import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    padding: 0.1px;
}
.main{
    width: 100%;
    height: 100vh;
    padding: 0.1px;
}

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: exclusion;
    position: fixed;
    z-index: 9999;
    cursor: default;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.page1{
    width: 100%;
    height: 100vh;
    /* background: pink; */
}

nav{
    width: 100%;
    height: 15vh;
    background-color: rgb(15, 15, 23);
    font-family: f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

nav button{
    padding: 1.1vw 1.3vw;
    border-radius: 5px;
    font-size: 1vw;
    font-family: f1;
    font-weight: 600;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 10;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, rgb(1, 150, 231), rgb(255, 0, 164));
}
nav button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 164);
    top: 0;
    left: 100%;
    transition: all ease 0.3s;
    z-index: -1;
}

nav button:hover::after{
    left: 0;
}

.nav-link ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.1vw;
    font-weight: 500;
}

.nav-link ul li{
    position: relative;
    padding: 0 1vw;
}

.nav-link ul li a{
    /* background-color: red; */
    color: white;
    text-decoration: none;
}

.nav-link ul li a:hover{
    color: #18FEF5;
}
.dropdown__menu{
    display: none; 
}

.nav-link ul li:hover .dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(15, 15, 23);
    width: 200px;
}

.dropdown__menu ul{
    display: block;
    margin-top: 10px;
    padding: 1vw 0;
}

.dropdown__menu ul li{
    padding: 0.5vw 2vw;
}
.fs{
    padding: 5px;
}

.page1{
    width: 100%;
    height: 135vh;
    background-image: url("./images/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;   
}


.page1-content {
    width: 50%;
    padding: 8vw;
    color: white;
    font-family: f1;
}
.page1-content h1{
    font-size: 4vw;
}
.page1-content p{
    font-size: 1.2vw;
    padding: 2vw 0;
}
.page1-content button{
    padding: 1vw 2vw;
    border-radius: 5px;
    font-size: 1vw;
    letter-spacing: 2px;
    font-family: f1;
    font-weight: 600;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-image: linear-gradient(to right, rgb(1, 150, 231), rgb(255, 0, 164));

}
.page1-content button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 164);
    top: 0;
    left: 100%;
    transition: all ease 0.3s;
    z-index: -1;
}

.page1-content button:hover::after{
    left: 0;
}


.page1-flag {
    width: 100%;
    height: max-content;
    padding: 2vw 8vw;
    /* background-color: red; */
}
.page1-flag1 {
    
    background-color: #14192D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter{
    background-color: #1A2237;
    width: max-content;
    text-align: center;
    padding: 1vw 5.60vw;
    height: 100%;
}
.counter .count{
    font-size: 5vw;
    color: white;
    font-family: "Londrina Outline", sans-serif;
    letter-spacing: 2px;
}
.counter p{
    font-size: 1.2vw;
    color: white;
    padding: 0.5vw;
    font-family: f1;
}


.page2{
    width: 100%;
    min-height: 100vh;
    background-color: #14192D;
    padding: 8vw 0vw;
    font-family: f1;
    padding-top: 12vw;
}
.page2-section1{
    width: 100%;
    background-color: #14192D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 8vw;
}
.page2-content1{
    width: 50%;
    padding: 4vw 0;
    padding-right: 4vw;
}
.page2-content1 img{
    width: 100%;
}
.page2-content2{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1vw;
}
.page2-content2 span{
    background-color: #16757D;
    padding: 0.5vw 2vw;
    border-radius: 50px;
    font-size: 1.1vw;
}

.page2-content2 h1{
    font-size: 2.5vw;
}

.page2-content2-list1{
    padding: 1.5vw;
    background-color: #1A2237;
    border-radius: 10px;
}
.page2-content2-list1 h3{
    padding-bottom: 1vw;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.page2-content2-list1 h3 img{
    padding-right: 10px;
}
.page2-content2-list1 p{
    font-size: 1.1vw;
}


.page2-section2 {
    width: 100%;
    color: white;
    font-family: f1;
    padding: 4vw 8vw;
    
}
.section2-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 0;
}
.section2-head-part1 span{
    background-color: #16757D;
    padding: 0.5vw 2vw;
    border-radius: 50px;
    color: white;
}
.section2-head-part1 h1{
    font-size: 3vw;
    padding: 2vw 0;
    width: 70%;
    font-weight: 600;
}
.section2-head-part2 button {
    padding: 0.8vw 2vw;
    color: #18FEF5;
    background-color: transparent;
    border: 2px solid #18FEF5;
    font-size: 1.1vw;
    transition: all linear 0.25s;
    cursor: pointer;
}
.section2-head-part2 button:hover{
    background-color: #18FEF5;
    color: black;
}
.section2-content {
    width: 100%;
    display: flex;
    gap: 3vw;
    justify-content: space-between;
    /* background-color: red; */
}
.section2-content1 img {
    width: 100%;
    padding-bottom: 1vw;
}
.section2-content1 p{
    padding: 1vw 0;
}

.section2-content1 button{
    padding: 1vw 0;
    color: #18FEF5;
    background-color: transparent;
    border: none;
    font-size: 1.1vw;
    cursor: pointer;
}
.page2 i{
    padding: 0 1vw;
}

.page2-section3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18FEF5;
    font-family: f1;
    margin: 4vw 0;
}
.page2-section3 span{
    padding: 2vw 0vw;
    font-size: 1.2vw;
    font-weight: 600;
}



.page3{
    width: 100%;
    height: 100%;
    background: papayawhip;
    text-align: center;
}